// Font Family
$jakarta-font: 'Inter', sans-serif;

// Font Sizes
$heading-xl: 6.4rem;
$heading-l: 4.8rem;
$heading-m: 2.4rem;
$heading-s: 2rem;
$body-m: 1.6rem;
$body-m-bold: 1.6rem;
$body-s: 1.4rem;
